body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 400;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;

}

a:hover,
a:focus {
    color: #404BBF;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

p {
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
}

button {
    cursor: pointer;
}
.container {
    padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.page-header {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
        background: var(--WHITE, #FFF);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.page-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:40px;
}
.nav-list-item {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.nav-list .accent-navigation {
    color:#404BBF;
}
.nav-list .accent-navigation::after {
    background-color: #404bbf;
        left: 50%;
        transform: translateX(-50%);
        bottom: -1px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        position: absolute;
        display: inline-block;
        content: "";
        width: 48px;
        height: 4px;
        border-radius: 2px;
}
.address-main-list {
    display: flex;
}

.nav-list-item:hover {
    color: #404BBF;

}

.address-list-item {
    line-height: 0;
}
.address-item {
    font-weight: 400;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-style: normal;
}
.address-item:hover,
.address-item:focus,
.address-item:active {
    color: #404BBF;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--NAVY-BLUE, #2E2F42);


}
.logo1-item {
    color: #4D5AE5;
}

.order-button {
    border: none;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    cursor: pointer;
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

.advantages-item {
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.advantages-context {
    color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        display: block;
        margin-top: 8px;
}
.our-team-title {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.blue-icon-circle {
    width: 40px;
    height: 40px;
}

.team-element-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.name-role-box {
    flex-direction: column;
    align-items: center;
    display: flex;

    padding: 32px 0;
}
.our-team-section {
    background-color:#F4F4FD;
}

.team-section-icons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}

.team-icon-link {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.team-icon-self {

    fill: #f4f4fd;
}

.team-icon-link:hover {
    background-color: #404BBF;
}

.team-icon-link:active,
.team-icon-link:focus {
    background-color: #404BBF;
}

.team-element {
    width: 264px;
    height: 428px;
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-member {

    color: #2E2F42;
    text-align: center;

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
}

.team-member-role {
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}
.portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
        margin-bottom:72px;

}
.portfolio-block {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid #E7E9FC;
}
.portfolio-block:hover {
    border: 1px solid #F4F4FD;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.service-type-box {
    display: flex;
    gap: 8px;
    padding: 32px 16px;
    flex-direction: column;
    border-top: none;
    

}

.positioning-box {
    position: relative;
    overflow: hidden;
}

.portfolio-block:hover .overlay-text {
    transform: translateY(0%);

}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform: translateY(100%);
    color: #F4F4FD;
    text-align: justify;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;

}
.portfolio-item {

    color: #2E2F42;

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;

    letter-spacing: 0.02em;
}

.portfolio-item-type {

    color: #434455;


    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}
.footer {
    background-color: #2E2F42;
}

.logo2 {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    

}
.logo2-item {
    color: var(--CLOUD, #F4F4FD);

}
.logocontext-container {
    display: flex;
    flex-direction: column;
    gap:19px;
}
.footer-text {
    width: 264px;
    color: #F4F4FD;
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;

}
.media-announcement {
    color: #FFF;
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.footer-list-item {
    width: 40px;
    height: 40px;
}
.footer-links-list {
    display: flex;
        flex-direction: row;
        gap: 16px;
}
.team-icon-self-footer {
    fill: #f4f4fd;
}

.media-list-blue-circle {
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.media-list-blue-circle:hover {
    background-color: #31D0AA;
}


.media-list-blue-circle:active,
.media-list-blue-circle:focus {
    background-color: #31d0aa;
}
.footer-form-description {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}
.footer-form {
    display:flex;

}
.footer-form-input {
    width: 264px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
        border: 1px solid var(--WHITE, #FFF);
        opacity: 0.3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color:#FFF;
}






.footer-form-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    fill: #FFFFFF;
    transition: background-color 250ms linear;

}

.footer-form-button:focus,
.footer-form-button:hover,
.footer-form-button:active {
    background-color: #404bbf;
}

.footer-btn-icon {
    margin-left: 16px;
}
.footer-form-input::placeholder {
    color: var(--WHITE, #FFF);
    opacity: 0.6;

}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color: #E7E9FC;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    fill: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus,
.modal-close-btn:hover {
    background-color: #404BBF;
    fill: #FFFFFF;
    border: none;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 72px;
    flex-wrap: wrap;
}

.callback-form-description {
    display: block;
    margin-bottom: 16px;

    color: #2E2F42;
    text-align: center;
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.callback-form-field-wrapper {
    margin-bottom: 8px;
}


.callback-form-field-label {
    display: block;
    color: #8E8F99;

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.callback-form-input-wrapper {
    position: relative;
}

.callback-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}

.callback-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form-input:focus {
    border-color: #4D5AE5;
}

.callback-form-input:focus+.callback-form-input-icon {
    fill: #4D5AE5;
}

.callback-form-texarea-wrapper {
    margin-bottom: 16px;
}

.callback-form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.40);
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;


}

.callback-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.callback-form-comment:focus {
    border-color: #4D5AE5;
}

.callback-form-checkbox-wrapper {
    margin-bottom: 24px;
}


.callback-form-checkbox-label {
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.04em;
}

.callback-form-new-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form-checkbox:checked+.callback-form-checkbox-label>.callback-form-new-checkbox {
    background-color: #404BBF;
    border-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.callback-form-checkbox:focus+.callback-form-checkbox-label>.callback-form-new-checkbox {
    outline: 1px solid rgba(0, 0, 255, 1);
}

.callback-form-new-checkbox-icon {
    opacity: 0;
}

.callback-form-checkbox:checked+.callback-form-checkbox-label .callback-form-new-checkbox-icon {
    opacity: 1;
}

.callback-form-submit-btn {
    font-family: "Roboto", sans-serif;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form-submit-btn:hover,
.callback-form-submit-btn:focus {
    background-color: #404BBF;
}

.accent-color {
    color: var(--IRIS, #4D5AE5);
    text-decoration-line: underline;
}















.container {
    max-width: 320px;


}

@media screen and (max-width: 767.5px) {
    .container {
        padding-right: 16px;
        padding-left: 16px;
    }
    /* MOBILE HEADER STYLES */
    .nav-list {
            display: none;
        }
    
        .address-main {
            display: none;
        }
    
        
    
        .mobile-menu-open-btn {
            background-color: transparent;
            border: none;
            fill: #2F2F37;
            padding: 0;
            line-height: 0;
    
        }
    
        
    
        .page-header {
            padding-top: 16px;
            padding-bottom: 16px;
            
            
        }
/* MOBILE HEADER STYLES END*/


/* MOBILE MENU STYLES */
                .mobile-menu-container {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                }
        
                .mobile-menu-flex-box {
                    padding-top: 72px;
                }
        
                .mobile-address-socials-flex-box {
                    
                    padding-bottom: 40px;
        
                }
        
                .mobile-menu-wrapper {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 9999;
                    background-color: #FFF;
                    transform: translateX(100%);
                    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
                .mobile-menu-wrapper.is-open {
                    transform: translateX(0%);
                }
        
                .mobile-menu-close-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    position: absolute;
                    top: 24px;
                    right: 24px;
                    background-color: transparent;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    padding: 0;
                    line-height: 0;
                    background-color: #E7E9FC;
                    fill: #2E2F42;
                    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
                .mobile-menu-close-btn:focus,
                .mobile-menu-close-btn:hover {
                    background-color: #404BBF;
                    fill: #FFFFFF;
                    border: none;
                }
        
                .mobile-menu-link {
                    color: var(--NAVY-BLUE, #2E2F42);
                    font-family: Roboto;
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 1.11;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;
        
                }
        
                .mobile-menu-link:focus,
                .mobile-menu-link:active {
                    color: var(--OCEAN, #404BBF);
                }
        
                .mobile-menu-address-list {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                }
        
                .mobile-menu-address-list-item {
                    color: var(--SLATE, #434455);
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02;
                    font-style: normal;
                }
        
                .mobile-menu-address-list-item:focus,
                .mobile-menu-address-list-item:active,
                .mobile-menu-address-list-item:hover
                 {text-decoration: none;
                    color: var(--IRIS, #4D5AE5);
                }
        
        
                .mobile-social-media-list {
                    display: flex;
                    flex-direction: row;
                    gap: 40px;
                    padding-top: 48px;
        
                }
        
        
                .mobile-social-media-list-item {
                    line-height: 0;
                }
        
                .mobile-social-media-list-link {
                    display: flex;
                    padding: 8px 8px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #4D5AE5;
                    fill: #F4F4FD;
                }
        
                .mobile-social-media-list-link:hover,
                .mobile-social-media-list-link:focus,
                .mobile-social-media-list-link:active {
                    background-color: #404bbf;
                }
        
                .mobile-menu {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
        
                }
                .accent-color2 {
                    color: #404BBF;
                }
                .accent-color3 {
                    color:#4D5AE5;
                }
       /* MOBILE MENU STYLES END*/

                /* MOBILE TITLE SECTION STYLES */

                .title-section{
                    padding-top: 72px;
                    padding-bottom: 72px;
                    background-position: center top;
                    background-repeat: no-repeat;
                    background-size: cover;
                    
                    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.7)), url('../images/bannerphone.jpg');
                }
                .title-section-container {
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 72px;
                }
                .main-title {
                    color: var(--WHITE, #FFF);
                    text-align:center;
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 1.11;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;
                }


                /* MOBILE TITLE SECTION STYLES END */



                /* MOBILE ADVANTAGES SECTION STYLES */
                .advantages-section{
                    padding-top: 96px;
                    padding-bottom: 96px;
                }
                .icon-box {
                    display:none;
                }
                .advantages-list {
                    display:flex;
                    flex-direction: column;
                    gap:72px;
                }
                .advantages-item {
                    text-align: center;
                }

                /* MOBILE ADVANTAGES SECTION STYLES END */

                /* MOBILE TEAM SECTION STYLES */
                .our-team-section {
                    padding-top:96px;
                    padding-bottom: 96px;
                    
                }
                .team-element-list {
                    display: flex;
                    flex-direction: column;
                    gap:72px;
                    width: fit-content;
                }
                .team-info-container {
                    max-width: 296px;
                }

                /* MOBILE TEAM SECTION STYLES END*/



                /* MOBILE PORTFOLIO SECTION STYLES */
                .portfolio-section {
                padding-top: 96px;
                padding-bottom: 96px;
                }
                
                
                
                .list-portfolio {
                    display: flex;
                    flex-direction: column;
                    gap: 48px;

                }
                /* MOBILE PORTFOLIO SECTION STYLES END */


                /* MOBILE FOOTER SECTION STYLES */
                .footer {
                    padding-top: 96px;
                    min-height: 664px;
                    padding-bottom: 96px;
                }
                .footer-container {
                    display: flex;
                    flex-direction: column;
                    gap: 72px;
                }
                .logocontext-container:first-child {
                    align-items: center;
                }
                .footer-links-list {
                    justify-content:center;
                }
                .media-announcement {
                    display: flex;
                    justify-content: center;
                }

                .footer-form-input::placeholder {
                    opacity: 0.6;

                }
                .footer-form-description {
                    display: flex;
                    justify-content: center;
                }
                .footer-form-input {
                    opacity: 0.3;
                    width: 288px;
                }
                .footer-form {
                    flex-direction: column;
                    gap:16px;
                    align-items: center;

                }

                /* MOBILE FOOTER SECTION STYLES END*/

                /* MOBILE MODAL WINDOW STYLES */

                .modal {
                    width:288px;
                    min-height:623px;
                    padding: 72px 16px 24px 16px;
                }
                /* MOBILE MODAL WINDOW STYLES END*/
}

@media screen and (min-resolution: 192dpi) and (max-width: 767.5px),
screen and (min-resolution: 2dppx) and (max-width: 767.5px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767.5px) {
    .title-section {
        background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.7)), url('../images/bannerphone@2x.jpg');
    }
}





@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
    }
/* TABLET HEADER STYLES */
    .mobile-menu-wrapper {
        display: none;
    }
    
    .mobile-menu-open-btn {
        display: none;
    }
    .address-main-list {
        flex-direction: column;
        gap: 12px;
    }
    .nav-list {
        margin-left: 120px;
        margin-right: 122px;
    }

    .address-item {
    font-size: 12px;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.04em;
    }
    
/* TABLET HEADER STYLES END */

/* TABLET TITLE SECTION STYLES */
.main-title {
    width:496px;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 0.02em;

}
.title-section {
    
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 112px;
            padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.7)), url('../images/bannertablet.jpg');
}
.title-section-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
}
/* TABLET TITLE SECTION STYLES END*/

/* TABLET ADVANTAGES SECTION STYLES */
    .icon-box {
        display: none;
}
.advantages-section {
    padding-top: 96px;
    padding-bottom: 96px;
}
    .advantages-list {
        display: flex;
        row-gap: 72px;
        column-gap: 24px;
        flex-wrap: wrap;
        
       
    }
    .advantages-feature {
        width:356px;
        
    }
    

/* TABLET ADVANTAGES SECTION STYLES END*/

/* TABLET OUT TEAM SECTION STYLES */
.our-team-section {
    padding-top: 96px;
    padding-bottom: 96px;
}
.team-element-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
}
/* TABLET OUT TEAM SECTION STYLES END*/

/* TABLET PORTFOLIO SECTION */
.portfolio-section {
    padding-top: 96px;
        padding-bottom: 96px;
}
    .portfolio-block {
        width: 356px;
        height: 420px;
    }
    .list-portfolio {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
/* TABLET PORTFOLIO SECTION END*/

/* TABLET FOOTER STYLES */
.footer {
    padding-top: 96px;
    
    padding-bottom: 96px;
    

}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    align-items: center;
    width:584px;
    row-gap:72px;
}
.footer-form {
    gap:42px;

}
/* TABLET FOOTER STYLES END*/
}




@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .title-section {
                background-position: center top;
                    background-repeat: no-repeat;
                    background-size: cover;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.7)), url('../images/bannertablet@2x.jpg');
    }
}


@media screen and (min-width: 1158px) {

    .container {
        min-width: 1158px;
    }

    /* DESKTOP HEADER STYLES */
    .mobile-menu-wrapper {
        display: none;
    }

    .mobile-menu-open-btn {
        display: none;
    }

    .address-item {

        letter-spacing: 0.02em;
        font-size: 16px;
        line-height: 1.5;

    }

    .nav-list {
        margin-left: 76px;

    }
    .address-main-list {
        gap:40px;
        flex-direction: row;
    }

    /* DESKTOP HEADER STYLES END*/

    /* DESKTOP TITLE SECTION STYLES */
    .title-section {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.7)), url('../images/bannerdesktop.jpg');
    }

    .title-section-container {
        
        display: flex;
        gap:48px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-title {
            color: var(--WHITE, #FFF);
            text-align: center;
            font-size: 56px;
            font-weight: 700;
            line-height: 1.07;
            /* 107.143% */
            letter-spacing: 0.02em;
            width: 496px;
    }


    /* DESKTOP TITLE SECTION STYLES END*/

    /* DESKTOP ADVANTAGES SECTION STYLES */
    .advantages-section {
        padding-top: 120px;
        padding-bottom:120px;

    }
    .advantages-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 24px;
    }
    .advantages-feature {
        width: calc((100% - 24px) / 4);
    }
        .icon-box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: 4px;
            border: 1px solid #8E8F99;
            background-color: #F4F4FD;
            height: 112px;
            margin-bottom: 8px;
        }
        .advantages-item {
            color: var(--NAVY-BLUE, #2E2F42);
                font-size: 20px;
                font-weight: 500;
                line-height: 1.2;
                /* 120% */
                letter-spacing: 0.02em;
        }
        .advantages-context {
            color: var(--SLATE, #434455);
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                /* 150% */
                letter-spacing: 0.02em;
        }
     /* DESKTOP ADVANTAGES SECTION STYLES */

     /* DESKTOP TEAM SECTION STYLES */
        .our-team-section {
            padding-top:120px;
            padding-bottom: 120px;
        }
                
    /* DESKTOP TEAM SECTION STYLES END*/

    /* DESKTOP PORTFOLIO SECTION STYLES */
    .portfolio-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
        .list-portfolio {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            column-gap: 24px;
            row-gap: 48px;
        }
    
        .portfolio-block {
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            border: 1px solid #E7E9FC;
            height: 420px;
            width: calc((100% - 48px) / 3);
        }
    /* DESKTOP PORTFOLIO SECTION STYLES END*/

    /* DESKTOP FOOTER SECTION STYLES */
        .footer {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .footer-container {
            display: flex;
            flex-direction: row ;
           flex-wrap: nowrap;
           margin-right: 0;
           margin-left: 0;
           gap:0px;
           

        }
        .footer-form-container {
            margin-left: 80px;
        }
        .social-media-links {
            margin-left:120px;
        }
        .footer-form {
            display:flex;
            gap:24px;
        }
        .footer-form-input {
            opacity: 1;
        }
                .footer-form-input::placeholder {
                    opacity: 1;
                }
    /* DESKTOP FOOTER SECTION STYLES END*/

}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .title-section {
        background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.7)), url('../images/bannerdesktop@2x.jpg');
    }
                        
}








